<div class="navbar">
  <div style="display: flex; width: 100%; justify-content: space-between; align-items: center">
    <div>
      <a style="color: #007bff"
         href="https://dev.viamichelin.fr/guide-hotels-restaurant-rest.html"
         target="_blank" data-toggle="tooltip"
         data-placement="right"
         title="REST API DESCRIPTION"
      >
        <i class="fas fa-fw fa-wrench"></i>
      </a>
    </div>
    <div style="text-align: center">
      RECHERCHE DE RESTAURANTS VIA GUIDE MICHELIN
    </div>
    <div>
      <a href="https://restaurant.michelin.fr/restaurants/france"
         style="color: #007bff"
         target="_blank"
         data-toggle="tooltip"
         data-placement="left"
         title="GUIDE MICHELIN RESTAURANT FRANCE"
      >
        <i class="fas fa-external-link"></i>
      </a>
    </div>
  </div>
</div>
